body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url('/rupixen-Cz0kKadR9Co-unsplash.jpg'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1, h3 {
    color: white;
    margin: 10px 0;
}

input[type="number"], select {
    padding: 15px;
    font-size: 26px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 30rem;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    padding: 15px 30px;
    font-size: 26px;
    color: white;
    background-color: #2196F3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 30rem;
    margin-top: 10px;
}

button:hover {
    background-color: #1976D2;
}

label {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    input[type="number"], select {
        font-size: 22px;
        padding: 12px;
    }

    button {
        font-size: 22px;
        padding: 12px 25px;
    }

    label {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    input[type="number"], select {
        font-size: 18px;
        padding: 10px;
    }

    button {
        font-size: 18px;
        padding: 10px 20px;
    }

    label {
        font-size: 16px;
    }
}
