body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url('/images/rupixen-Cz0kKadR9Co-unsplash.jpg'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

#resultsContainer {
    text-align: left;
}
