body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/rupixen-Cz0kKadR9Co-unsplash.jpg'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

input[type="number"] {
    padding: 15px;
    font-size: 26px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 30rem;
    height: 3.5rem;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    padding: 15px 30px;
    font-size: 26px;
    color: white;
    background-color: #2196F3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #1976D2;
}


@media (max-width: 480px) {
    input[type="number"] {
        font-size: 18px;
        padding: 10px;
        height: 2.5rem;
        width: 20rem;
    }

    button {
        font-size: 18px;
        padding: 10px 20px;
    }
}
